COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=

# Below 2 values are the Dev values - these are not secret
APHA_COGNITO_URL=https://apha-integration-bridge-c63f2.auth.eu-west-2.amazoncognito.com/oauth2/token
APHA_API_BASE_URL=https://ephemeral-protected.api.dev.cdp-int.defra.cloud/apha-integration-bridge

LIVESTOCK_API_BASE_URL=
LIVESTOCK_API_TOKEN=

SALESFORCE_URL=
SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=

# You can get this via the CDP platform UI - click on your username in the top right and scroll to the bottom of the page
DEV_API_KEY=
